Package: com.VeexillumIcons.package
Name: Extra Veexillum Icons
Version: 1.0
Architecture: iphoneos-arm
Description: Extra Icons for Veexillum
Depiction: None
Homepage: None
Maintainer: Josh <pr0methaz1neZ@gmail.com>
Author: Josh <pr0methaz1neZ@gmail.com>
Section: Themes
