Package: com.VeexillumIcons.package
Name: Extra Veexillum Icons
Version: 1.0
Architecture: iphoneos-arm
Description: Extra Icons for Veexillum. MAKE SURE YOU HAVE VEEXILLUM DOWNLOADED FOR THIS TO WORK! Now themes Egg Inc., Betternet, Comet, Poker Plus, Netkillui, SMSFlooder
Depiction: None
Homepage: None
Maintainer: /u/pr0methaz1ne <dynasticdevelopment@gmail.com>
Author: /u/pr0methaz1ne <pr0methaz1neZ@gmail.com>
Section: Themes
